In [ ]:
#python script to read a CSV file and print its contents using pandas
import pandas as pd

# Read the CSV file
df = pd.read_csv("data.csv")

# Print dataframe
# print(df)

# Print specific columns
# print(df[["Name", "Department"]])

print("check version :",pd.__version__)
print(df.to_string())

check version : 2.0.3
   ID    Name  Age Department  Salary
0   1   Israr   24         IT   45000
1   2  Ayesha   27         HR   50000
2   3   Rahul   22    Finance   40000
3   4    Neha   29  Marketing   55000
4   5    Aman   25         IT   47000

In [ ]:
#----using--DataFrame------------
#-- DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'charlie'],
    'Age': [24, 27, 22],
    'Department': ['HR', 'Engineering', 'Marketing']
}
df = pd.DataFrame(data)
print(df)

      Name  Age   Department
0    Alice   24           HR
1      Bob   27  Engineering
2  charlie   22    Marketing

In [18]:
#-----using---DataFrame----loc----
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(df.loc[0]) #row data print
print(df)
print("")
# print(df.loc[[0, 1]]) #multiple row data print
print("")
# print(df.loc[:, ["duration"]]) #specific column data print
print("")
print(df.loc[0:1, ["calories", "duration"]]) #specific row and column data print

calories    420
duration     50
Name: 0, dtype: int64
   calories  duration
0       420        50
1       380        40
2       390        45



   calories  duration
0       420        50
1       380        40

In [ ]:
#--------using--Series------------
#-- Series is a one-dimensional array-like object that can hold data of any type.
import pandas as pd
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [14]:
#---using---series--with--index---
import pandas as pd
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)
print(series)
print("value at index 'c':", series['c'])

#---key---vallue---pair---series-----
data2 = {'a':10, 'b':20, 'c':30, 'd':40}
# print(pd.Series(data2))
print(pd.Series(data2, index=['b','c']))

a    10
b    20
c    30
d    40
e    50
dtype: int64
value at index 'c': 30
b    20
c    30
dtype: int64

In [7]:
#----read_csv---------------
import pandas as pd
df = pd.read_csv('data.csv')
# print(df)
# print(df.to_string())

#---max--optons--disply-----
# pd.set_option('display.max_rows', 3)
# pd.set_option('display.max_columns', 3)
# pd.set_option('display.width', 1000)
# pd.set_option('display.max_colwidth', 50)
# pd.set_option('display.precision', 2)
print("max_row :",pd.options.display.max_rows)
print("max_col :",pd.options.display.max_columns)
print(df)

max_row : 3
max_col : 3
    ID  ... Salary
0    1  ...  45000
..  ..  ...    ...
4    5  ...  47000

[5 rows x 5 columns]

In [12]:
#--------json--read_json----------------
#--Big data sets are often stored, or extracted as JSON.
import pandas as pd

df = pd.read_json('data.json')

print(df.to_string())
print("")
print(df)

   Name  Age      city
0  Raju   21     Delhi
1  Sonu   22     Noida
2  Monu   23    mumbai
3  Tina   24  Banglore

    Name  Age      city
0   Raju   21     Delhi
..   ...  ...       ...
3   Tina   24  Banglore

[4 rows x 3 columns]

In [18]:
#-----Analyzing----data----------------
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head()) #first 5 rows
print("")
print(df.tail()) #last 5 rows
print("")
print(df.info())  #summary of dataframe
print("")
print(df.describe()) #statistical summary of numerical columns

    ID  ... Salary
0    1  ...  45000
..  ..  ...    ...
4    5  ...  47000

[5 rows x 5 columns]

    ID  ... Salary
0    1  ...  45000
..  ..  ...    ...
4    5  ...  47000

[5 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          5 non-null      int64
 1   Name        5 non-null      object
 2   Age         5 non-null      int64
 3   Department  5 non-null      object
 4   Salary      5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
None

        ID   Age   Salary
count  5.0   5.0      5.0
...    ...   ...      ...
max    5.0  29.0  55000.0

[8 rows x 3 columns]

In [19]:
#--02---Analyzing-----data-------------
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())

    ID  ... Salary
0    1  ...  45000
..  ..  ...    ...
4    5  ...  47000

[5 rows x 5 columns]