In [ ]:
#-------cleaning--data----------------
#---remove--nan-vales--duplicates--wrong-data----
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Amit', 'Rahul', 'Priya', None],
    'Age': [25, None, 30, 22],
    'City': ['Delhi', 'Mumbai', None, 'Pune']
}
df = pd.DataFrame(data)

print("Original DataFrame:\n", df)

# Drop rows with NaN
df_drop = df.dropna()
# df_fill = df.fillan("unknown")
print("\nAfter removing NaN values:\n", df_drop)

Original DataFrame:
     Name   Age    City
0   Amit  25.0   Delhi
1  Rahul   NaN  Mumbai
2  Priya  30.0    None
3   None  22.0    Pune

After removing NaN values:
    Name   Age   City
0  Amit  25.0  Delhi

In [8]:
#----fillna--methods----------------
import pandas as pd 
import numpy as np
data = {
    "A": [1, 2, np.nan, 4],
    "B" : [np.nan, 2, 3, 4],
    "C": ["x", np.nan, "y", "z"]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)
# Fill NaN with a specific value
df_filled = df.fillna(0)
# print("\nDataFrame after filling NaN with 0:\n", df_filled)

#----fillna with column mean----------------
df_filled_mean = df.fillna(df.mean(numeric_only=True))
# print("\nDataFrame after filling NaN with column mean:\n", df_filled_mean)

#----replace---specific-values----------------
df.fillna({"A":0,"B":4}, inplace=True)
print("\nDataFrame after filling NaN in column A with 0:\n", df)

Original DataFrame:
      A    B    C
0  1.0  NaN    x
1  2.0  2.0  NaN
2  NaN  3.0    y
3  4.0  4.0    z

DataFrame after filling NaN in column A with 0:
      A    B    C
0  1.0  4.0    x
1  2.0  2.0  NaN
2  0.0  3.0    y
3  4.0  4.0    z

In [4]:
#-----wrong--format---data-----------------
import pandas as pd
data ={
    'Date': ['2023-01-01', '2023/02/01', 'March 3, 2023', '2023-04-01'],
    'Value': [10, 20, 30, 40]
}
df = pd.DataFrame(data)
print(df.dtypes)
print("Original DataFrame:\n", df)

#convert to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
# print(df.dtypes)
print("\nDataFrame after converting 'Date' to datetime:\n", df)

Date     object
Value     int64
dtype: object
Original DataFrame:
             Date  Value
0     2023-01-01     10
1     2023/02/01     20
2  March 3, 2023     30
3     2023-04-01     40

DataFrame after converting 'Date' to datetime:
         Date  Value
0 2023-01-01     10
1        NaT     20
2        NaT     30
3 2023-04-01     40

In [12]:
#------Numbers stored as String-----------------
import pandas as pd

data = {"marks": ["90", "85", "A", "78"]}
df = pd.DataFrame(data)
print(df.dtypes)
# print("Original DataFrame:\n", df)

df['marks'] = pd.to_numeric(df['marks'], errors='coerce')
# print(df)

#---remove---rows-----------------------
# df['Date'] = pd.to_datetime(df['Date'], format='mixed')
# df.dropna(subset=['Date'], inplace = True)
print("\nDataFrame after removing rows with invalid 'Date':\n", df)

marks    object
dtype: object

DataFrame after removing rows with invalid 'Date':
    marks
0   90.0
1   85.0
2    NaN
3   78.0

In [15]:
#-------wrong--fromat--data----------------
import pandas as pd

data = {
    "Name": ["Amit", "Riya", "Sam", "Neha"],
    "Age": [25, -3, 130, 22],   # Wrong: -3 and 130 (invalid ages)
    "Marks": [85, 92, "NaN", 101],  # Wrong: string "NaN", and 101 > 100
    "Date": ["2025-01-01", "01-13-2025", "March 5, 2025", "32-01-2025"]  # Wrong: "32-01-2025"
}

df = pd.DataFrame(data)
print("\nOriginal DataFrame:\n", df)

# Convert Marks to numeric (replace wrong with NaN)
df["Marks"] = pd.to_numeric(df["Marks"], errors="coerce")

# Set condition for valid Age (0–120 only)
df.loc[(df["Age"] < 0) | (df["Age"] > 120), "Age"] = None

# Marks must be between 0–100
df.loc[(df["Marks"] < 0) | (df["Marks"] > 100), "Marks"] = None

df["Date"] = pd.to_datetime(df["Date"], errors="coerce")
print("\nDataFrame after cleaning:\n", df)

Original DataFrame:
    Name  Age Marks           Date
0  Amit   25    85     2025-01-01
1  Riya   -3    92     01-13-2025
2   Sam  130   NaN  March 5, 2025
3  Neha   22   101     32-01-2025

DataFrame after cleaning:
    Name   Age  Marks       Date
0  Amit  25.0   85.0 2025-01-01
1  Riya   NaN   92.0        NaT
2   Sam   NaN    NaN        NaT
3  Neha  22.0    NaN        NaT

In [16]:
#-------removing--duplicates----------------
import pandas as pd
data = {
    "Name": ["Amit", "Riya", "Sam", "Neha", "Amit"],
    "Age": [25, 30, 22, 28, 25],
    "City": ["Delhi", "Mumbai", "Pune", "Chennai", "Delhi"]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

df_no_duplicates = df.drop_duplicates()
print("\nDataFrame after removing duplicates:\n", df_no_duplicates)

Original DataFrame:
    Name  Age     City
0  Amit   25    Delhi
1  Riya   30   Mumbai
2   Sam   22     Pune
3  Neha   28  Chennai
4  Amit   25    Delhi

DataFrame after removing duplicates:
    Name  Age     City
0  Amit   25    Delhi
1  Riya   30   Mumbai
2   Sam   22     Pune
3  Neha   28  Chennai